.container {
  padding: 8rem 0 6rem 0;
  /* background-color: #fcf3f5; */
  /* border: 1px solid red; */
}

.inner-container {
  width: 92%;
  max-width: 1200px;
  margin: 0 auto;
}

.account-container {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 5rem;
  /* border: 1px solid red; */
}

.account-title {
  font-family: var(--font-forum);
  font-size: 2.2rem;
  color: #545454;
  font-weight: normal;
}
.country {
  display: flex;
  gap: 8px;
}

.information-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.profile-pic-wrapper {
  align-self: start;
}
.profile-pic-wrapper h3 {
  text-align: center;
  margin-bottom: 2rem;
}
.image-wrapper {
  position: relative;
}

.profile-photo {
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

.label {
  margin-bottom: 4px;
  color: #bdbdbd;
  font-size: 15px;
}
