.our-story-section {
  position: relative;
  background-color: #deb4bd;
  overflow: hidden;
}

.bg-image {
  position: absolute;
  bottom: 0;
  left: 0;
}

.story-wrapper {
  background-color: hsla(0, 0%, 0%, 0.3);
  background-blend-mode: multiply;
  color: #fff;
  line-height: 2.2;
  font-size: 16px;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  padding: 10rem 1.44rem;
  font-weight: normal;
}

.story-wrapper div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.title {
  font-family: var(--font-forum);
  font-size: 35px;
  font-weight: normal;
  text-align: center;
  margin: 0;
}

.read-more__button {
  letter-spacing: 1px;
  color: #fff;
  align-self: center;
  padding: 0.8em 2em;
  border-radius: 50px;

  text-transform: uppercase;
  font-size: clamp(13px, 2vw, 14px);
  font-family: var(--font-poppins);
  font-weight: normal;
}

.story-content {
  margin-bottom: 1.4rem;
}

.story-content p {
  position: relative;
  margin-bottom: 1rem;
}

.story-content p span {
  position: relative;
  top: 13px;
  left: 4px;
  display: inline-block;
  font-size: 2.8rem;
  font-family: var(--font-forum);
  line-height: 1;
}

@media (min-width: 768px) {
  .our-story-section {
    display: flex;
    justify-content: end;
  }

  .story-wrapper {
    align-self: self-end;
    width: 60%;
  }
}

@media (min-width: 1024px) {
  .story-wrapper div {
    max-width: 600px;
    margin-left: 2rem;
  }
  .story-wrapper {
    width: 50%;
  }
}
