.container {
  padding: 8rem 0 6rem 0;
  /* background-color: #fcf3f5; */
  /* border: 1px solid red; */
}

.inner-container {
  width: 92%;
  max-width: 800px;
  margin: 0 auto;
}

.cart-container {
  display: flex;
}

.cart {
  font-family: var(--font-forum);
  font-size: 2.2rem;
  color: #545454;
  font-weight: normal;
}
